.main {
  justify-content: center;
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}
.copyright {
  z-index: 4;
  font-family: Comf-M;
  font-size: 12px;
  color: black;
}
.copyright a {
  color: tomato;
}
a {
  user-select: none;
  outline: none;
  width: 90%;
  max-width: 400px;
  color: none;
  text-decoration: none;
}
.animNotif {
  animation: notif 3s ease-in-out forwards;
}
.notification {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 15px;
  width: 100%;
  height: 100%;
  transform: translateY(50px);
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(1, 180, 31);
}
.smokeImgLeft {
  width: 800px;
  z-index: 0;
  position: absolute;
  bottom: -350px;
  left: -350px;
  animation: smokeLivitation 10s infinite ease-in-out;
}
.smokeImgRight {
  width: 800px;
  position: absolute;
  top: -350px;
  right: -350px;
  animation-delay: 0.6s;
  animation: smokeLivitation 5s infinite ease-in-out;
}
.smokeImg {
  animation: smoke 2s forwards;
  position: absolute;
  z-index: 0;
  width: 100vw;
  top: 0;
  transform: translate(-100px, -190px) rotate(270deg) scale(1);
}
.smokeImg2 {
  animation: smoke2 2s forwards;
  position: absolute;
  z-index: 0;
  width: 100vw;
  top: 0;
  transform: translate(100px, -190px) scale(1);
}
.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: Comf-B;
  z-index: 3;
  border-radius: 30px;
  width: 100vw;
  padding: 40px 20px 0 20px;

  align-items: center;
  margin: 40px 0 0 0;
}

.button {
  position: relative;
  background: #de3647;
  border-radius: 15px;
  display: flex;
  margin-right: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 400px;
  color: none;
  text-decoration: none;
  width: 100%;
  height: 60px;
  border: #de3647 2px solid;

  transition: all 0.2s linear;
}
.sale {
  padding: 3px 7px;
  background-color: #ac005f;
  position: absolute;
  border-radius: 3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #ac005f;
  left: -2px;
  bottom: -25px;
}
.button:hover {
  background: #de36471c;
  border: #de3647 2px solid;
  border-style: dashed;
  transform: scale(1.05);
}
.button:hover p {
  color: #de3647;
}
.button p {
  font-size: 20px;
  font-family: Comf-M;
  color: white;
  align-items: center;
  margin: 0;
}
.buttonCopy {
  font-size: 20px;
  animation: fade 0.2s forwards 0.9s;
  position: relative;
  background: #de3647;
  border-radius: 15px;
  display: flex;
  margin-right: 0;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  max-width: 400px;
  color: none;
  text-decoration: none;
  width: 90%;
  height: 60px;
  border: #de3647 2px solid;
  opacity: 0;
  transition: all 0.2s linear;
}
.dashbord > a {
  opacity: 0;
  transform: translateY(-60px);
}
.dashbord > a:nth-child(1) {
  animation: fade 0.2s ease-in-out forwards 0.6s;
}
.dashbord > a:nth-child(2) {
  animation: fade 0.2s forwards 0.7s;
}
.dashbord > a:nth-child(3) {
  animation: fade 0.2s forwards 0.8s;
}
.dashbord > a:nth-child(4) {
  animation: fade 0.2s forwards 0.9s;
}
.ico {
  right: 10%;
  position: absolute;
  width: 30px;
}
.dashbord {
  z-index: 2;
  height: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.ava {
  z-index: 1;
  animation: smokeLivitation 10s infinite;
  margin-top: -25px;

  width: 200px;
}
.portNavigation {
  justify-content: space-around;
  width: 200px;
  display: flex;
  margin-bottom: 40px;
}
.activeAbNL {
  color: #282fd2 !important;
}
.activeAbNL::before {
  align-items: center;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  margin-left: 10px;
  bottom: -15px;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #282fd2;
  transform: scale(1) !important;
}

.activeAbNL::after {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -17px;
  left: 40%;
  width: 10px;
  height: 10px;
  background-color: #282fd2;
  transform: scale(1) !important;
}
.aboutPortfolioNavLink {
  cursor: pointer;
  margin-top: 0;
  margin-left: 0;
  margin-right: 25px;
  position: relative;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 18px;

  margin-bottom: 0;
}
.aboutPortfolioNavLink:hover {
  color: #282fd2;
}
.aboutPortfolioNavLink::before {
  align-items: center;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  margin-left: 10px;
  bottom: -15px;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #282fd2;
  transform: scale(0);
  transition: transform 0.4s ease-in;
}
.aboutPortfolioNavLink:hover::before {
  transform: scale(1);
}
.aboutPortfolioNavLink::after {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -17px;
  left: 40%;
  width: 10px;
  height: 10px;
  background-color: #282fd2;
  transform: scale(0);
  transition: transform 0.2s ease-in;
}

.aboutPortfolioNavLink:hover::after {
  transform: scale(1);
}
@media (max-device-width: 800px) {
}
@keyframes smokeLivitation {
  0% {
    transform: translateY(0) rotate(0) translateX(0);
  }
  25% {
    transform: translateY(-9px) rotate(2deg) translateX(-4px);
  }
  50% {
    transform: translateY(2px) rotate(-2deg) translateX(2px);
  }
  75% {
    transform: translateY(-9px) translateX(-4px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
@keyframes fade {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes smoke {
  0% {
    transform: translate(-40px, -40px) rotate(240deg) scale(3);
    opacity: 0;
  }
  100% {
    transform: translate(-100px, -190px) rotate(270deg) scale(1);
    opacity: 1;
  }
}
@keyframes smoke2 {
  0% {
    transform: translate(-40px, -40px) rotate(30deg) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(100px, -190px) scale(1);
    opacity: 1;
  }
}
@keyframes notif {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(30px);
  }
  90% {
    transform: translateY(35px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
